<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PDF Link Analyzer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="/static/cube.svg" type="image/x-icon">
    </head>
<body>
    <div class="container">
        <form id="pdf-form">
            <div class="input-container">
                <label for="pdf-link">Enter PDF Link:  </label>
                <input type="url" id="pdf-link" name="pdf-link" required value="https://www.cms.gov/outreach-and-education/american-indian-alaska-native/aian/outreach-and-education/pdf/cms4_medicare_part_ab_factsheet_909523-n.pdf">
            </div>
            <button type="submit" id="process-button">⚙️ Process PDF</button>
        </form>
        <div class="output-container">
            <div class="output-header">
                <label for="output">Output:</label>
                <div class="right-controls">
                    <span id="word-count">🆎 Words: 0</span>
                    <span id="token-count">🪙 Tokens: 0</span>
                    <button id="copy-button" type="button">📋 Copy</button>
                </div>
            </div>
            <div id="output" class="formatted-output"></div>
        </div>
    </div>

    <div id="copy-indicator" class="copy-indicator">Copied to clipboard</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>